* {
    box-sizing:border-box;
  }
  
  
  h1{
    padding:5%;
    font-size: 3em; 
    font-family: 'Birthstone', cursive;
  
   
  }

  .visitetitel  {
   
    grid-column: 2/4 ;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(122, 234, 253, 0.644);

  }
  
  h2 {
  text-align: center;
  font-size: 1em;
  color: white;
  margin-left: 480px ;
  margin-top: 340px ;
  font-size: 1.5em;
  border-radius: 10px;
  background: #000000;
  border-style: solid;
  height: 70px;
  width: 185px;

  }

  h3 {
    grid-column: 2/4;
    font-family:Georgia, 'Times New Roman', Times, serif;
    font-size: 1em;
    color:#8a7171;
    grid-row: 2;
    text-align: center;
    margin-top:-35px;
  }
  
  
  
  @keyframes change{
    from {background-color: cornflowerblue;}
    to   {background-color: darkgray;}
    
  }
  
  body {
    display:grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-row: 1fr 1fr 1fr 1fr;
    background-image:url("/assets/achtergrond.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    
  
  }


  
  p {
    
    font-size: 1.8em;
    font-family: Brush Script MT, Brush Script Std, cursive;
    grid-column: 3/5;
    grid-row: 2/5;

  }
  
  .portret {
   grid-column: 2/5;
   grid-row: 2/5;
   padding:4%;
   width: 55%;
   border: 4px solid rgb(51, 46, 46);
   margin-left: 5%;
   box-shadow: 10px 15px #8a7171f1;
   
    
  }  

  .portret:hover, .portret:active {
    background-color: rgb(121, 52, 211);
  }
  
    .container {
  
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    grid-template-rows: 9em 9em 9em 9em;
    border: 5px solid #000000;
    padding: 7px;
    box-shadow: 7px 8px 10px black;
    background-color: antiquewhite;
    background-image:url(/assets/Perspectief.jpg);
    background-size: 100%
    background-repeat: no-repeat;
    background-size: cover;


    }
  
    .groningen {
  
      grid-column: 1/5;
      grid-row: 2/3;
      width:40%;
      padding:2%;

    }

    .stadgroningen {
      grid-column: 3/5;
      grid-row:3/4;
      width:100%;
      padding:2%;

    }

    main {
      grid-column: 2/4;
      opacity: 80%;
    }

   

    .fotovak{
      grid-column: 2/5;
      grid-row: 2/5;
      padding:4%;
      position: relative;
      width: 70%;

    }
    
    .image {
      display: block;
      width: 130%;
      height: auto;
      border: 4px solid rgb(51, 46, 46);
      border-radius: 20px;
      box-shadow: 10px 15px #8a7171f1;
    }
    
    .overlay {
      position: absolute;
      bottom: 0;
      margin-left: 6%;
      margin-bottom: 11%;
      left: 100%;
      right: 0;
      background-color:#8a7171;
      border-radius: 20px;
      overflow: hidden;
      width: 0;
      height: 86%;
      transition: .5s ease;
    }
    
    .fotovak:hover .overlay {
      width: 88%;
      left: 0;
    }

    
    .text {
      color: white;
      font-size: 1.1em;
      font-family:Georgia, 'Times New Roman', Times, serif;
      position: absolute;
      top: 80%;
      left: 50%;
      -webkit-transform: translate(-50%, -50%);
      -ms-transform: translate(-50%, -50%);
      transform: translate(-50%, -50%);
      white-space: nowrap;
    }

    .inhoud {
      width:60%;
      margin-left: 20%;
      margin-top: 10%;
      
    }


    .insta {

      grid-column:1/2;
      grid-row: 2;
      padding-left: 20%;
      margin-top: 20%;

    }

    .mail {

      grid-column:1/2;
      grid-row: 3;
      padding-left: 20%;
      margin-top: -20%;
      
    }

    .phone {

      grid-column:1/2;
      grid-row:4;
      padding-left: 20%;
      margin-top: -50%;
      
    }

    a {text-decoration: none; 
    grid-column: 2/4 ;
    text-align: center;
    text-shadow: 2px 2px 5px rgba(122, 234, 253, 0.644);
    }
   
